body {
	overflow:hidden;
	background-color:black;
	margin:0;
	display: grid;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	color:white;
}

canvas{
	margin: auto;
}
